{:deps  {org.clojure/math.combinatorics {:mvn/version "0.1.6"}
         org.clojure/algo.monads        {:mvn/version "0.1.6"}
         failjure/failjure              {:mvn/version "2.2.0"}
         uncomplicate/fluokitten        {:mvn/version "0.9.1"}
         pez/taplet                     {#_#_:local/root "./taplet"
                                         :git/url "https://github.com/ljb7977/taplet"
                                         :git/sha "0e8007d6c43f7793c63c8845698351e533bee401"}}
 :paths ["src" "resources"]}
